body{
margin:0;
}

h1 {
background:#f7f444;
padding:20px;
}

.container{
max-width:1200px;
margin:auto;
}

.top{
background:black;
padding:20px;
display:flex;
flex-direction:column;
gap:20px;
margin-bottom:20px;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:#1c2b3a;
}

.logo{
background:#ff6b6b;
padding:20px;
}

.nav{
background:#ff6b6b;
padding:20px;
flex:1;
margin:0 20px;
}

.social{
background:#ff6b6b;
padding:20px;
}

.banner{
background:orange;
padding:20px;
}

main{
display:flex;
gap:20px;
padding:20px;
background:#000000;
margin-bottom:20px;
}

.articles{
flex:3;
background:#555;
padding:20px;
display:flex;
flex-wrap:wrap;
gap:20px;
}

article{
background:#2e6fa3;
flex:1 1 45%;
padding:20px;
}

.navegacion{
background:#7da0b8;
width:100%;
padding:20px;
}

.publicidad{
flex:1;
background:#ff4757;
padding:20px;
}

.publicidad div{
background:yellow;
padding:20px;
margin-bottom:20px;
}

.bottom{
background:black;
padding:20px;
}

footer{
background:#e9d859;
padding:30px;
}

@media (max-width:768px){

main{
flex-direction:column;
}

header{
flex-direction:column;
gap:10px;
}

}
